// 更改表格头背景色和字体
.el-table .el-table__header thead tr th {
	background-color: var(--bg_tbhead);
	font-size: 13px;
	font-weight: 600;
	color: var(--font-primary);
}
// 表格内的基础字号和颜色
.el-table td {
	font-size: 13px;
	color: var(--font-secondary);
}
// el-form的label的颜色和字号
.el-form .el-form-item__label {
	font-size: 14px;
	color: var(--font-primary);
}
