:root {
  --bg-brand: #f6faff; /* 背景品牌 */
  --bg-danger: #ffeeee; /* 背景失败色 */
  --bg-form: #fafcff; /* 背景表格背景 */
  --bg-mask: rgba(0, 0, 0, 0.5); /* 背景蒙层 */
  --bg-rest: #f8f8f8; /* 背景默认 */
  --bg-searchbar: #f5f6fa; /* 背景搜索框 */
  --bg-select: #edf6ff; /* 背景品牌选择 */
  --bg-success: #e8faf8; /* 背景成功色 */
  --bg-unselect: #f7f8fa; /* 背景品牌未选择颜色 */
  --bg-warning: #fff8ed; /* 背景警告色 */
  --bg-white: #ffffff; /* 背景白色 */
  --bg_gary: #f2f3f5; /* 灰色背景色 */
  --bg_tbbody: #f5f8fc; /* 表格斑马纹 */
  --bg_tbhead: #e7edf2; /* 表格头 */
  --brand-blue: #057bff; /* 品牌色蓝色 */
  --el-color-primary: #057bff; /* 品牌色蓝色 */
  --brand_deep: #005bb8; /* 品牌色深蓝 */
  --brand_hover: #006cdf; /* 蓝色侧边栏选中 */
  --font-anti: #ffffff; /* 文字反白 */
  --font-brand: #057bff; /* 文字品牌 */
  --font-disable: #bfbfbf; /* 文字禁用 */
  --font-hint: #8c8c8c; /* 文字辅助 */
  --font-link: #057bff; /* 文字链接 */
  --font-primary: #141414; /* 文字主要 */
  --font-secondary: #595959; /* 文字次要 */
  --line-border: #eeeeee; /* 线条边框 */
  --line-brand: #aacdf4; /* 线条品牌 */
  --line-brown: #e0cfc1; /* 线条棕色 */
  --line-danger: #fec0c0; /* 线条失败 */
  --line-rest: #e4e4e4; /* 线条默认 */
  --line-success: #b1e5df; /* 线条成功 */
  --line-warning: #fcdb9b; /* 线条警告 */
  --tag-brown: #bb8352; /* 标签棕色 */
  --tag-orange: #fa8c16; /* 标签橙色 */
  --tag-red: #ff4d4f; /* 标签红色 */
  --tag_blue: #e1eeff; /* 浅蓝色标签背景色 */
  --tip-danger: #fa2c2c; /* 提示色失败 */
  --el-color-danger: #fa2c2c;
  --tip-disable: #bfbfbf; /* 提示色禁用 */
  --tip-success: #00d1b6; /* 提示色成功 */
  --tip-warning: #fab938; /* 提示色警告 */
  --shadow-bottom: 0px -12px 20px 0px rgba(0, 0, 0, 0.02); /* 阴影吸底偏上 */
  --shadow-card: 0px 8px 20px 0px rgba(0, 0, 0, 0.02); /* 阴影卡片 */
  --shadow-over: 0px 12px 20px 0px rgba(0, 0, 0, 0.02); /* 阴影叠加偏下 */
  --shadow-top: 0px 12px 20px 0px rgba(0, 0, 0, 0.02); /* 阴影吸顶偏下 */
}
